
<div main-container>
  <mat-dialog-content>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Edit Contact</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="example-container">
          <mat-form-field>
            <input
              id="contact_name"
              matInput
              [(ngModel)]="editedContact.name"
              readonly="contact.name"
              matTooltip="Cannot edit Name field. Delete contact and create a new one if necessary.">
            <mat-hint>Name</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="editedContact.email"
              readonly="contact.email"
              matTooltip="Cannot edit Email field. Delete contact and create a new one if necessary.">
            <mat-hint>Email</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [placeholder]="contact.position" [(ngModel)]="editedContact.position">
            <mat-hint>Position</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [placeholder]="contact.team" [(ngModel)]="editedContact.team">
            <mat-hint>Team</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [placeholder]="contact.rapport" matTooltip="How well do you know them? On a scale of 1-100 (1 being least familiar)" [(ngModel)]="editedContact.rapport">
            <mat-hint>Rapport</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <textarea matInput [placeholder]="contact.notes" [(ngModel)]="editedContact.notes"></textarea>
          </mat-form-field>
        </div>
      </mat-card-content>

    </mat-card>
  </mat-dialog-content>
  <mat-card-actions>
    <button mat-button (click)="editContact(editedContact)">SAVE</button>
    <button mat-button (click)="onNoClick()">CANCEL</button>
  </mat-card-actions>
</div>

