
<mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">

  <mat-expansion-panel-header>

    <mat-panel-title>
      {{ contact.firstName }} {{ contact.lastName}}
    </mat-panel-title>

    <mat-panel-description>

    </mat-panel-description>

  </mat-expansion-panel-header>

  <label> EMAIL </label>
  <mat-label> {{contact.email}} </mat-label>
  <br>
  <mat-label> {{ contact.team }} </mat-label>
  <br>
  <mat-label> {{ contact.position }} </mat-label>
  <br>
  <mat-label> {{ contact.lastInteraction }} </mat-label>

</mat-expansion-panel>
